@model CreateVoucherViewModel
@{

    ViewBag.Title = "Create Page";
}

<div class="container CreateVoucher">
    <div class="">
        <h1 style="text-align:center; color : #092f89 ;">Create Voucher</h1>
    </div>
    <div class="row" id="FormCreateVoucher">
        <form id="createVoucherForm" enctype="multipart/form-data" class="row create-form" style="width:100%">
            <div class="col-md-6" style="font-size:small">
                <div class="form-group ">
                    <label>Account Payee</label>
                    <input id="txtAccountPayee" type="text" class="form-control form-control-sm" placeholder="Account payee *" value="" required />
                </div>
                <div class="form-group ">
                    <label>Payee Address</label>
                    <input id="txtAddress" type="text" class="form-control form-control-sm" placeholder="Payee address " value="" />
                </div>
                <div class="form-group ">
                    <label>Phone Number</label>
                    <input id="txtPhoneNo" type="number" class="form-control form-control-sm" placeholder="Payees phone no " value="" />
                </div>
                <div class="form-group ">
                    <label>Name</label>
                    <input id="txtName" type="text" class="form-control form-control-sm" placeholder="Name " value="" />
                </div>
                <div class="form-group ">
                    <label>Bank Name</label>
                    <select id="txtBankName" name="txtBankName" required" class="form-control form-control-sm form-inline" required>
                        <option value="">Select Bank</option>
                        @foreach (var b in Model.Banks)
                        {
                            <option value="@b.Name">@b.Name     @b.BankId</option>
                        }
                    </select>
                </div>
                <div class="form-group ">
                    <label>Bank Account No</label>
                    <input id="txtBankAccNo" type="number" class="form-control form-control-sm" placeholder="Account No " value="" />
                </div>
                <div class="form-group ">
                    <label>Description</label>
                    <textarea id="txtDescription" placeholder="Description" class="pb-cmnt-textarea form-control form-control-sm" required></textarea><br>
                </div>
            </div>
            <div class="col-md-6" style="font-size:small">
                <div class="form-group ">
                    <label>Voucher Type</label>
                    <select id="txtVoucherType" required class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<VoucherType>()">
                        <option value="">select voucher type *</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label>Cheque No</label>
                    <input id="txtChequeNo" type="text" class="form-control form-control-sm" placeholder="Cheque No " value="" />
                </div>
                <div class="form-group ">
                    <label>Currency</label>
                    <select id="txtCurrency" class="form-control form-control-sm" asp-items="Html.GetEnumSelectList<Currency>()" required>
                        <option value="">select currency</option>
                    </select>
                </div>
                <div class="form-group ">
                    <label>Exchange Rate</label>
                    <input id="txtExchangeRate" type="text" class="form-control form-control-sm" placeholder="Exchange rate " value="" required />
                </div>
                @*<div class="form-group ">
                        <label>Add File(s)</label>
                        <input name="txtAddFiles" id="txtAddFiles" type="file" class="form-control form-control-sm" placeholder="Add File " value="" multiple />
                    </div>*@
                <div class="form-group ">
                    <label>Comment</label>
                    <textarea id="txtComment" placeholder="Comment" class="pb-cmnt-textarea form-control form-control-sm" required></textarea><br>
                </div>
            </div>

            <table class="table table-hover table-bordered" style="font-size:small">
                @*class="table-responsive"*@

                <thead>
                    <tr>
                        <th>Particulars</th>
                        <th>Description</th>
                        <th>Amount</th>
                        @*<th>Cashbook Amount</th>*@

                    </tr>
                </thead>

                <tbody id="AppendVouchers">
                    <tr id="Remove1">
                        <td>
                            <select id="txtParticular[]" name="txtParticular[]" required" class="form-control form-control-sm form-inline" required>
                                <option value="">Select Particular</option>
                                @foreach (var b in Model.Particulars)
                                {
                                    <option value="@b.Name">@b.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="text" required class="form-control form-control-sm form-inline" placeholder="Enter Description" id="txtDescriptionCB[]" name="txtDescriptionCB[]" />
                        </td>
                        <td>
                            <input type="number" step="any" required class="form-control form-control-sm form-inline amount" placeholder="Enter Amount" id="txtAmount_1" name="txtAmount[]" onkeyup=sumUp() />
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" onclick="Add();"> <i class="fa fa-plus"> </i> </button>
                        </td>

                    </tr>
                </tbody>
                <tbody>
                    <tr style="font-size:medium;">
                        <td></td>
                        <td><b>Total Amount</b></td>
                        <td>
                            <b><span id="sum_total"></span></b>
                        </td>
                    </tr>
                </tbody>
                @*<tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td>
                                <input type="number" required class="form-control form-control-sm form-inline" placeholder="Total Amount" id="totalAmount" name="totalAmount" />
                            </td>
                        </tr>
                    </tbody>*@
            </table>
            <div style="text-align:center;">
                <input class="btn btn-primary" type="submit" id="btnSaveLegacyApplication" @*class="btn btn-success"*@ value="Save & Continue" />
                <input type="reset" class="btn btn-secondary m-b-10 m-l-5">
            </div>
        </form>
    </div>
</div>
<style>
    body {
        background: #DCDCDC;
    }

    .Submitloader {
        position: relative;
    }

        .Submitloader::after {
            background-color: rgba(0,0,0,0.4);
            content: 'Submitting...';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
        }
</style>
<script>
    var Vouchers_i = 1;
    function Add() {
        Vouchers_i++;
        var html = "<tr id='Remove" + Vouchers_i + "'><td><select id='txtParticular[]' name='txtParticular[]' required' class='form-control form-control-sm form-inline'><option>Select Particular</option> @foreach (var b in Model.Particulars) { <option value= '@b.Name' > @b.Name </option> } </select> </td>";
        html += "<td><input type='text' required class='form-control form-control-sm form-inline' placeholder='Enter Description' id ='txtDescriptionCB[]' name='txtDescriptionCB[]' /></td >";
        html += "<td><input type='number' step='any' onkeyup=sumUp() required class='form-control form-control-sm form-inline amount' placeholder='Enter Amount' id='txtAmount_" + Vouchers_i + "' name='txtAmount[]' /></td >";
        html += "<td> <button class='btn btn-danger btn-sm'  onclick='RemoveVoucher("+Vouchers_i+");'> <i class='fa fa-trash'> </i> </button> </td> </tr >";
        $("#AppendVouchers tr:last").after(html);
    }
    function RemoveVoucher(target_id) {
        $("#Remove" + target_id).remove();
        sumUp();
    }
</script>
@*<script type="text/javascript">
        function sum() {
            var totalSum = 0;
            var num = document.getElementById('txtAmount[]').value;
            for (var i = 0; i < num.length; i++) {
                totalSum += num[i];
            }

            //var result = parseInt(txtFirstNo) /*+ parseInt(txtSecondNo)*/;
            if (!isNaN(totalSum)) {
                document.getElementById('totalAmount').value = totalSum;
            }
        }
    </script>*@
<script>
    function sumUp() {
        var total = 0;
        $(".amount").each(function () {
            var unitId = "#" + this.id;
            var d = $(unitId).val();
            console.log(this.id);
            if (d != null && d != '') {
                total = total + parseFloat(d);
            }
        });
        $("#sum_total").html(total)
    }
    $("#createVoucherForm").on('submit', function (event) {
        console.log(event)
        event.preventDefault();
        var msg = confirm("Are you sure you want to create this Voucher?");

        if (msg === true) {
            $("#FormCreateVoucher").addClass("Submitloader");
            var Vouchers = {
                Payee: $("#txtAccountPayee").val(),
                Address: $("#txtAddress").val(),
                PhoneNo: $("#txtPhoneNo").val(),
                Name: $("#txtName").val(),
                BankName: $("#txtBankName").val(),
                AccountNo: $("#txtBankAccNo").val(),
                Description: $("#txtDescription").val(),
                VoucherType: $("#txtVoucherType").val(),
                ChequeNo: $("#txtChequeNo").val(),
                Currency: $("#txtCurrency").val(),
                ExchangeRate: $("#txtExchangeRate").val(),
                Comment: $("#txtComment").val(),
            };
            var VouchersCB = [];
            var Particular = document.getElementsByName('txtParticular[]');
            var Description = document.getElementsByName('txtDescriptionCB[]');
            var Amount = document.getElementsByName('txtAmount[]');
            for (var i = 0; i < Particular.length; i++) {
                VouchersCB.push({
                    "Particular": Particular[i].value.trim(),
                    "Description": Description[i].value.trim(),
                    "Amount": Amount[i].value.trim(),
                });
            }
            debugger


            $.post("/Voucher/Create", { "cashBookViewModels": VouchersCB, "voucher": Vouchers }, function (response) {
                var res = $.trim(response).split("|");
                if (res[0] === "1") {
                    alert(res[2]);
                    var location = window.location.origin + "/Voucher/AddFiles/" + res[1];
                    window.location.href = location;
                    $("#FormCreateVoucher").removeClass("Submitloader");
                }
                else {
                    ErrorMessage("#SaveTankInfo", res[1]);
                    $("#FormCreateVoucher").removeClass("Submitloader");
                }
            });
        }
        else {
            $("#FormCreateVoucher").removeClass("Submitloader");
        }
    });
</script>